.chatbox{
    padding: 1%;
    height: 80vh;
    width: 25%;
    background-color: rgb(144, 155, 166);
    color: whitesmoke;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: end;
}

.chatbox h2{
    width: 70%;
    height: 20vh;
    padding: 1%;
    background-color: rgb(168, 127, 207);
    font-size: 15px;
    
    color: whitesmoke;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}